.layout-pack, .layout-pack>div, .layout-pack .ant-spin {
    width: 100%;
    height: 100%;
    max-height: none !important;
}

.layout-h-order-search-box, .layout-h-order-search-box input {
    color: #fff;
}

.layout-h-order-search-box input::placeholder {
    color: #a7a7a7;
}

.layou-h {
    transition: margin-top .1s linear;
    -webkit-transition: margin-top .1s linear;
}